Teams(Hello)/Teams(Hello).json
{
  "name": "Teams(Hello)",
  "nodes": [
    {
      "parameters": {
        "teamId": {
          "__rl": true,
          "value": "8597f20b-7be4-4967-b9f8-f8045d27efb0",
          "mode": "list",
          "cachedResultName": "베이직인터내셔널"
        },
        "name": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        576,
        96
      ],
      "id": "e8deb413-bdc1-472a-9175-832b76ed7ada",
      "name": "Create channel",
      "webhookId": "d47afbd6-2625-466e-ac2e-23b04ddc7807",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "MMGOhITjBsmEURmx",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -304,
        16
      ],
      "id": "ecd93f0d-901c-4f46-b911-2e32b626354b",
      "name": "When chat message received",
      "webhookId": "e8d7dbef-20c8-4ae4-889d-1b52795753d2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "teamId": {
          "__rl": true,
          "value": "8597f20b-7be4-4967-b9f8-f8045d27efb0",
          "mode": "list",
          "cachedResultName": "베이직인터내셔널"
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        -80,
        16
      ],
      "id": "e2e9b167-7cd2-4703-b8ed-3035fbd40aa7",
      "name": "Get many channels",
      "webhookId": "42bd1777-64e2-441e-8a14-ecc0db0bc8f7",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "MMGOhITjBsmEURmx",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4304bad2-ade4-4725-91ea-8e1d051ed8a7",
              "name": "chatInput",
              "value": "={{ $('When chat message received').item.json.chatInput+\"_1\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -80
      ],
      "id": "d73c8ed0-a139-4fcb-a546-ae5426da041f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b225cf3b-9679-476c-8ada-c6a3f0427f91",
              "leftValue": "={{ $json.displayName }}",
              "rightValue": "={{ $('When chat message received').item.json.chatInput }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        352,
        16
      ],
      "id": "0124765b-8255-4e16-a1a2-5bcc3f4bed66",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1b1e7cd4-e196-4fde-b5ab-c057f3c4ef1a",
              "leftValue": "={{ $('When chat message received').item.json.chatInput }}",
              "rightValue": "={{ $json.displayName }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        128,
        16
      ],
      "id": "25a9682c-1864-462e-9187-83dc3329c2ce",
      "name": "Filter",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "teamId": {
          "__rl": true,
          "value": "8597f20b-7be4-4967-b9f8-f8045d27efb0",
          "mode": "list",
          "cachedResultName": "베이직인터내셔널"
        },
        "name": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        800,
        -80
      ],
      "id": "02703338-2e10-432d-8661-5287c238f7ee",
      "name": "Create channel(rename)",
      "webhookId": "e07bb9c1-b23d-4619-817b-5e208519d312",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "MMGOhITjBsmEURmx",
          "name": "Microsoft Teams account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get many channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many channels": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create channel(rename)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5f9c2245-fb0c-43ba-8a8b-fa288ebf118f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca42ea5b116f6cdfe7aabe94d727b028212d11d79f535ab133fecad1577187f8"
  },
  "id": "6nVqr5SZoUoCbNPa",
  "tags": []
}