MakeReply(Gmail)/MakeReply(Gmail).json
{
  "name": "MakeReply(Gmail)",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -224,
        -128
      ],
      "id": "05c4269a-38cb-4cb3-8dce-17cac9d1ae8f",
      "name": "Get a message",
      "webhookId": "bf94ea56-4dcd-441d-a205-08df1f35f083",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZTDohWoZOY2lp5gP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        -128
      ],
      "id": "b0dfb446-e088-40a6-b165-db8cc076384f",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZTDohWoZOY2lp5gP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# 역할: 전문적인 비즈니스 커뮤니케이션 전문가\n# 지침:\n* 오직 요청된 최종 답변만을 출력하세요.\n* 부연 설명, 추론 과정, 또는 서론/결론은 포함하지 마세요.\n* 주어진 출력 형식에 맞춰 답변을 제공하세요.\n* 답변은 받듣이 한글로 써주세요.\n* 아래 이메일의 내용을 분석하고, 발신자의 의도와 질문의 핵심을 파악하세요.\n* 다음 정보와 상황을 고려하여 **존중하고 명확한 어조**로 답변 초안을 작성하세요.\n* 답변은 간결하고 전문적인 형식을 갖춰야 합니다.\n* 불필요한 서론이나 결론은 제외하고, 핵심 내용에 집중하세요.\n\n# 원본 이메일 정보:\n**발신자:** {{ $json.From }}\n**제목:** {{ $json.Subject }}\n**내용:** {{ $json.snippet }}\n\n# 답변의 목적: (예시)\n* 발신자의 문의에 대한 확인 및 긍정적인 답변 전달\n* 문의 내용에 대한 추가 정보 요청\n* 회의 일정 제안\n\n# 출력 형식:\n안녕하세요. [발신자 이름]님, 문의하신 내용에 대해 확인했습니다. \n[여기에 답변 내용 작성]\n포스코DX 고객센터 드림 \n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        0,
        -128
      ],
      "id": "234b5705-d91b-4390-9135-e4e48d627aba",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        0,
        80
      ],
      "id": "18b99146-512c-4c83-a486-d55df38c05b3",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "YLW01e6Yk2n8vuzl",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        96,
        80
      ],
      "id": "c0f6f44d-58c2-447d-aac7-9c73d4f586f5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1p6JcxipzE1-WjWUu7bulmA-qUq2hqFY_23R0JB9k4-w",
          "mode": "list",
          "cachedResultName": "이메일관리",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1p6JcxipzE1-WjWUu7bulmA-qUq2hqFY_23R0JB9k4-w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "메일목록",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1p6JcxipzE1-WjWUu7bulmA-qUq2hqFY_23R0JB9k4-w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "제목": "={{ $('Get a message').item.json.Subject }}",
            "본문": "={{ $('Get a message').item.json.snippet }}",
            "전송여부": "미발송",
            "보낸사람": "={{ $('Get a message').item.json.From.match(/^\"(.+)\"/)[1] }}",
            "답변": "={{ $json.output }}",
            "보낸사람 이메일": "={{ $('Get a message').item.json.From.match(/<(.*?)>/)[1] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "보낸사람",
              "displayName": "보낸사람",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "보낸사람 이메일",
              "displayName": "보낸사람 이메일",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "제목",
              "displayName": "제목",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "본문",
              "displayName": "본문",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "답변",
              "displayName": "답변",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "전송여부",
              "displayName": "전송여부",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        -128
      ],
      "id": "47e80a5a-211d-4240-9403-2815ca6c7221",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H6LuJ842Hi69oBTo",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "72308c40-828f-461c-b978-b4ca7df47416",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca42ea5b116f6cdfe7aabe94d727b028212d11d79f535ab133fecad1577187f8"
  },
  "id": "UuAJjgbfvdq7w8B6",
  "tags": []
}